<div class="base">
    <div class="profile">
        <h3>Profile <i class="pi pi-user"></i></h3>
        <div *ngIf="userDetail.image==''">
            <img src="/assets/placeholder_image.jpeg" alt="profile picture" width="100%">
        </div>
        <div *ngIf="userDetail.image!=''">
            <img src="{{userDetail.image}}" alt="profile picture" width="100%">
        </div>
        <p>Name: {{userDetail.name}}</p>
        <p>ID: {{userDetail.id}}</p>
        <p>Email: {{userDetail.email}}</p>
        <p style="margin-bottom: 2ch;">Joined: {{userDetail.createDate | date: 'dd/MM/yyyy'}}</p>
        <a href="https://t.me/tasks_sync_bot" class="button" target="_blank"><span class="pi pi-telegram"></span> task buddy bot</a>
    </div>
    <div class="display">
        <p-toast></p-toast>
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" style="padding: 1em 0; border: none">
            <h3 style="margin: 0;">{{currentTab}} <i class="pi pi-angle-down"></i></h3>
        </button>
        <div *ngIf="currentTab=='Dashboard'">
            <div class="row">
                <div class="row-item">
                    <h4>Tasks summary:</h4>
                    <div *ngIf="taskSummary && taskSummary!='' && taskSummary.total!=0" class="center">
                        <p-chart *ngIf="taskSummary && taskSummary!='' && taskSummary.total!=0 " type="doughnut" [data]="data"
                            [options]="options" width="200px"></p-chart>
                    </div>
                    <p *ngIf="taskSummary=='' || taskSummary.total==0 ">no available data!</p>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div style="overflow: auto;">
                    <h4>7 days focus session data:</h4>
                    <p-chart *ngIf="date.length!=0" type="bar" [data]="barData" [options]="barOptions" width="500px"></p-chart>
                    <p *ngIf="date.length==0">no available data!</p>
                </div>
            </div>
            <p-divider></p-divider>
            <div class="row">
                <div class="row-item scroll">
                    <h4>Outstanding tasks:</h4>
                    <p *ngIf="tasks.length==0 || workspaces.length==0">no outstanding tasks (˶ᵔ ᵕ ᵔ˶)</p>
                    <div *ngIf="tasks.length!=0 && workspaces.length!=0">
                        <p *ngFor="let t of tasks">{{t.task}}</p>
                    </div>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div class="row-item scroll">
                    <h4>Active workspaces:</h4>
                    <p *ngIf="workspaces.length==0">no workspaces</p>
                    <div *ngIf="workspaces.length!=0">
                        <p class="route" *ngFor="let w of workspaces" [routerLink]="['/workspace', w]">{{w}}</p>
                    </div>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div class="row-item scroll">
                    <h4>Active chat rooms:</h4>
                    <p *ngIf="chatDetails.length==0">no active chat rooms</p>
                    <div *ngIf="chatDetails.length!=0">
                        <p class="route" *ngFor="let c of chatDetails" [routerLink]="['/chat', c.roomId]"
                        (click)="enterRoom(c.name)">{{c.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="currentTab=='Account'" style="height: 80%">
            <div class="row" style="height: 100%;">
                <div class="row-item-tab">
                    <p [ngClass]="{'selected': accountTab=='edit'}" (click)="changeTab('edit')">Edit Profile</p>
                    <p [ngClass]="{'selected': accountTab=='change'}" (click)="changeTab('change')">Change Password</p>
                    <p [ngClass]="{'selected': accountTab=='delete'}" (click)="changeTab('delete')">Delete Account</p>
                </div>
                <p-divider layout="vertical" [style]="{'height': '100%', 'color': '#010662'}"></p-divider>
                <div class="row-item-form">
                    <div *ngIf="accountTab=='edit'">
                        <form [formGroup]="editForm" (submit)="submit()">
                            <table>
                                <tr>
                                    <td>Profile Picture: </td>
                                    <td><input type="file" accept="image/*" #file hidden (change)="openDialog($event)"
                                            (click)="file.value = ''">
                                        <div class=row>
                                            <p-button icon="pi pi-upload" label="Choose Image"
                                                (click)="file.click()"></p-button>
                                            <p *ngIf="cropImage!=undefined" style="padding-left: 1em;">{{cropImage}}</p>
                                        </div>
                                        <p-dialog header="Crop Image" [(visible)]="imageDialogVisible" [modal]="true"
                                            [style]="{ width: 'fit-content', height: 'auto'}" [draggable]="false"
                                            [resizable]="false">
                                            <div *ngIf="imageChangedEvent!=undefined" style="height: min-content;">
                                                <image-cropper [imageChangedEvent]="imageChangedEvent"
                                                    [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                                                    [resizeToHeight]="200" [resizeToWidth]="200" [onlyScaleDown]="true"
                                                    (imageCropped)="imageCropped($event)"
                                                    output="base64"></image-cropper>
                                            </div>
                                            <div class="row-button">
                                                <p-button (click)="closeDialog()">Cancel</p-button>
                                                <p-button (click)="crop()">Crop</p-button>                                                
                                            </div>
                                        </p-dialog>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Name: </td>
                                    <td><input pInputText type="text" formControlName="name"></td>
                                </tr>
                                <tr>
                                    <td>Email: </td>
                                    <td><input pInputText type="text" formControlName="email"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><p-button type="submit" [disabled]="checkEdits()"
                                            [style]="{'height': '40px'}">Save</p-button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div *ngIf="accountTab=='change'">
                        <form [formGroup]="changePasswordForm" (submit)="changePassword()">
                            <table>
                                <tr>
                                    <td>Current Password: </td>
                                    <td><input pInputText type="password" formControlName="current"></td>
                                </tr>
                                <tr>
                                    <td>New Password: </td>
                                    <td><input pInputText type="password" formControlName="new"></td>
                                </tr>
                                <tr *ngIf="changePasswordForm.controls['new'].dirty && changePasswordForm.get('new')?.errors?.['pattern']"
                                    class="error">
                                    <td></td>
                                    <td>hint: min 8 characters - 1 special character, 1 digit, 1 uppercase, 1 lowercase
                                    </td>
                                </tr>
                                <tr>
                                    <td>Confirm New Password: </td>
                                    <td><input pInputText type="password" formControlName="confirm"></td>
                                </tr>
                                <tr *ngIf="changePasswordForm.controls['confirm'].dirty && unmatchedPassword()"
                                    class="error">
                                    <td></td>
                                    <td>password does not match</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><p-button type="submit" [disabled]="unmatchedPassword() || changePasswordForm.invalid"
                                            [style]="{'height': '40px'}">Change</p-button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div *ngIf="accountTab=='delete'">
                        <form [formGroup]="deleteAccountForm" (submit)="deleteAccount()">
                            <table>
                                <tr>
                                    <td>
                                        <h3 style="color:crimson">Delete Account</h3>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Current Password: </td>
                                    <td><input pInputText type="password" formControlName="current"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <p style="padding: 1ch 0; margin: 0"><i style="color: crimson;">Enter current
                                                password to proceed</i></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><p-button type="submit" [disabled]="deleteAccountForm.invalid"
                                            [style]="{'height': '40px'}">Delete</p-button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>