@media (max-width : 700px) {
    .base {
        padding: 0 2ch;
        font-family: 'Lora', sans-serif;
        color: #010662;
    }

    .profile {
        padding: 2ch;
        border: 1px solid #010662;
        border-radius: 20px;
        width: 100%;
        word-wrap: break-word;
    }

    .display {
        padding: 2ch;
        border: 1px solid #010662;
        border-radius: 20px;
        width: 100%;
    }

    img {
        border-radius: 50%;
    }

    :host ::ng-deep .p-button {
        background: #FFF9F4;
        color: #010662;
        border: 1px solid #010662;
        font-family: 'Lora', sans-serif;
    }
}

@media (min-width : 700px) {
    .base {
        padding: 0 2ch;
        font-family: 'Lora', sans-serif;
        color: #010662;
        display: flex;
        align-content: center;
        justify-content: center;
        height: fit-content;
    }

    /* profile styling */
    .profile {
        padding: 2ch;
        border: 1px solid #010662;
        border-radius: 20px;
        width: 20vw;
        word-wrap: break-word;
    }

    img {
        border-radius: 50%;
    }

    :host ::ng-deep .p-button {
        background: #FFF9F4;
        color: #010662;
        border: 1px solid #010662;
        font-family: 'Lora', sans-serif;
    }

    /* dashboard styling */
    .display {
        padding: 2ch;
        border: 1px solid #010662;
        border-radius: 20px;
        width: 60vw;
    }

    h4{
        margin-top: 0;
    }

    .row {
        display: flex;
        align-content: center;
        /* justify-content: center; */
    }

    .row-item {
        width: 30%;
    }

    .route {
        cursor: pointer;
    }

    .center {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    /* account tab */
    .selected{
        background-color: #d4dbe3 ;
        border-radius: 20px;
    }

    .row-item-tab p{
        margin: 0;
        padding: 1em
    }

    .row-item-tab {
        width: 20%
    }

    .row-item-form {
        width: 70%
    }

    table {
        width: 100%;
    }

    tr td:first-child {
        width: 1%;
        white-space: nowrap;
    }

    input {
        width: 100%;
        background-color: #FFF9F4;
        font-family: 'Lora', sans-serif;
        color: #010662;
        border-color: #010662;
        /* height: 40px; */
    }

    .error{
        color: crimson;
    }

    image-cropper {
        display: flex;
        position: relative;
        width: 100%;
        max-height: 60vh;
        max-width: 60vw;
        padding: 5px;
        text-align: center;
    }

    /* dropdown menu */
    :host ::ng-deep .p-menu.p-menu-overlay{
        background: #FFF9F4;
        width: max-content;
    }
    
    :host ::ng-deep .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text{
        color: #010662;
        font-size: 15px;
        font-family: 'Lora', sans-serif;
    }
    
    :host ::ng-deep .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon{
        color: #010662;
    }

}