<div class="form">
    <form [formGroup]="form" (submit)="login()">
        <h1>Login</h1>
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="email" formControlName="email" style="margin-bottom: 10px;"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" formControlName="password" style="margin-bottom: 5px;"></td>
            </tr>
            <tr *ngIf="invalid">
                <td></td>
                <td><p style="color: crimson;">invalid email or password. try again</p></td>
            </tr>
            <tr>
                <td></td>
                <td><p-button type="submit" size="small" [disabled]="form.invalid">Sign in</p-button>
                </td>
            </tr>
        </table>
        <p>Don't have an account with us yet? <a [routerLink]="['/register']">Join now!</a></p>
    </form>
    <img src="/assets/login.png" width="350" height="350">
</div>