@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.base {
    background-color: #FFF9F4;
    color: #010662;
    font-family: 'Lora', sans-serif;
    /* extend background to the full page */
    max-height: 100vh;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
}
