<div class="base">
    <div class="row">
        <h2>Welcome to collaborative space!</h2>
        <div>
            <p-button icon="pi pi-plus" label="Create Room" size="small" (click)="create()"
                [style]="{ margin: '0 1ch'}"></p-button>
            <p-dialog header="Create new room" [(visible)]="createRoomVisible" [modal]="true" [style]="{ width: '40vw'}"
                [draggable]="false" [resizable]="false"
                [style]="{ color: '#010662', background: '#FFF9F4', border:'none' }">
                <form [formGroup]="form">
                    <table>
                        <tr>
                            <td>Room Name:</td>
                            <td><input pInputText type="text" formControlName="name"></td>
                        </tr>
                        <tr>
                            <td>Room Type:</td>
                            <td><p-dropdown formControlName="type" [options]="types" appendTo="body"></p-dropdown></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><p-button (onClick)="createChannel()" size="small" height="40px"
                                    [disabled]="form.invalid">Create</p-button></td>
                        </tr>
                    </table>
                </form>
            </p-dialog>
            <p-button icon="pi pi-plus" label="Join Room" size="small" (click)="join()"></p-button>
            <p-dialog header="Join existing room" [(visible)]="joinRoomVisible" [modal]="true" [draggable]="false"
                [resizable]="false" [style]="{ color: '#010662', background: '#FFF9F4', border:'none' }">
                <p-button size="small" (click)="findPublicChatRoom()">Find Public ChatRooms</p-button>
                <form [formGroup]="joinForm" style="padding-top: 1ch;">
                    Room ID: <input pInputText type="text" formControlName="id">
                    <p-button (onClick)="joinRoom()" size="small" height="40px"
                        [disabled]="joinForm.invalid">Join</p-button>
                </form>
            </p-dialog>
            <p-dialog header="Search for public chatrooms" [(visible)]="publicChatVisible" [modal]="true"
                [draggable]="false" [resizable]="false"
                [style]="{ width: '40vw', color: '#010662', background: '#FFF9F4', border:'none' }">
                <form [formGroup]="searchForm">
                    <input pInputText type="text" placeholder="Search topics, eg. productivity" style="width: 90%;"
                        formControlName="search">
                    <p-button (onClick)="searchRoom()" size="small" height="40px" icon="pi pi-search"
                        [style]="{'width': '10%'}" [disabled]="searchForm.invalid"></p-button>
                </form>
                <div *ngIf="searchResult$ | async as results" class="results">
                    <div *ngIf="results.length==0">
                        <p>no search results</p>
                    </div>
                    <div *ngFor="let result of results" class="result">
                        {{result.name}}
                        <p-button [style]="{'height': '10px'}" (onClick)="joinPublicRoom(result.roomId)">+</p-button>
                    </div>
                    <div *ngIf="results.length>5">
                        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                            [totalRecords]="results.length"></p-paginator>
                    </div>
                </div>
            </p-dialog>
        </div>
    </div>
    <div class="card">
        <p-splitter [panelSizes]="[20, 80]" [style]="{ height: '80vh', background: '#FFF9F4', border: 'none'}"
            styleClass="mb-5">
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center" id="leftpanel">
                    <div class="row">
                        <p>Chats</p>
                    </div>
                    <div *ngIf="chatList$ | async as chatList">
                        <p *ngFor="let c of chatList" width="max" [routerLink]="['/chat', c.roomId]"
                            (click)="selectedChat(c.name)">{{c.name}}</p>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center" id="rightpanel">
                    <div *ngIf="this.currentChatRoomId==undefined" style="text-align: center;">
                        <h3>Click on chatroom to view chat</h3>
                        <img id="image" src="/assets/chat.png" width="300px" height="300px">
                    </div>
                    <div *ngIf="this.currentChatRoomId!=undefined" class="chat">
                        <div *ngIf="chatName$ | async as name" class="chatName">
                            <h2>{{name}}
                                <span>
                                    <p-toast></p-toast>
                                    <p-menu #menu [model]="items" [popup]="true"></p-menu>
                                    <p-button icon="pi pi-ellipsis-v" size="small"
                                        [style]="{'background': '#FFF9F4', 'color': '#010662', 'float': 'right'}"
                                        (click)="menu.toggle($event)"></p-button>
                                </span>
                            </h2>
                            <p-dialog header="Chat Room Details" [(visible)]="chatRoomDetailsVisible" [modal]="true"
                                [draggable]="false" [resizable]="false"
                                [style]="{ width: '20vw', color: '#010662', background: '#FFF9F4', border:'none' }">
                                <div *ngIf="chatRoomDetails$ | async as details">
                                    <p><strong>Room ID: </strong>{{details.roomId}}</p>
                                    <p><strong>Created on: </strong>{{details.createDate | date: 'dd/MM/yyyy'}}</p>
                                    <p><strong>Owner: </strong>{{details.ownerName}}</p>
                                    <p><strong>Number of users: </strong>{{details.userCount}}</p>
                                </div>
                            </p-dialog>
                            <p-dialog header="Leave Chat" [(visible)]="leaveChatVisible" [modal]="true"
                                [draggable]="false" [resizable]="false"
                                [style]="{ color: '#010662', background: '#FFF9F4', border:'none' }">
                                    <p>Are you sure you want to leave?</p>
                                    <p-button size="small">No</p-button>
                                    <p-button size="small">Yes</p-button>
                            </p-dialog>
                        </div>
                        <div>
                            <p-scroller [items]="messageList" [itemSize]="messageList.length" [showLoader]="true" scrollHeight="450px"
                            [style]="{'height': '450px'}">
                                <ng-template pTemplate="item" let-item>
                                    <div class="message"
                                        [ngClass]="{'left': item.sender !== name, 'right': item.sender === name}">
                                        <div class="bubble">
                                            <p *ngIf="item.sender !== name" style="border-bottom: 1px solid #010662;">
                                                {{item.sender}}:</p>
                                            <p>{{item.content}}</p>
                                            <p class="date">{{ item.timestamp | date: 'short' }}</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-scroller>
                            <form [formGroup]="messageForm">
                                <input pInputText type="text" formControlName="message"
                                    style="width: 95%; padding-top: 1ch;" placeholder="enter a message...">
                                <p-button (onClick)="sendMessage()" size="small" height="40px" icon="pi pi-send"
                                    [style]="{'width': '5%'}" [disabled]="messageForm.invalid"></p-button>
                            </form>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-splitter>
    </div>
</div>