<div class="row">
    <div *ngIf="tasks | async as tasks; else noTasks">
        <div *ngIf="tasks.length!=0; else noTasks">
            <h2 style="padding: 0;">Active task</h2>
        </div>
    </div>
    <ng-template #noTasks>
        <div>
            <h2 style="padding: 0;">No active task</h2>
        </div>
    </ng-template>
    <div>
        <p-toast key="error" position="top-right"></p-toast>
        <p-toast key="success" position="top-right"></p-toast>
        <p-button size="small" label="Add Task" icon="pi pi-plus" (click)="formDialog()"></p-button>
        <p-dialog header="Add a new task" [(visible)]="visible" [modal]="true" [style]="{ width: 'fit-content'}"
            [draggable]="false" [resizable]="false">
            <form [formGroup]="taskForm" (submit)="addTask()">
                <table>
                    <tr>
                        <td>Task:</td>
                        <td><input pInputText type="text" formControlName="task"></td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>
                            <p-dropdown [options]="status" formControlName="status"></p-dropdown>
                        </td>
                    </tr>
                    <tr>
                        <td>Priority:</td>
                        <td>
                            <p-dropdown [options]="priorities" formControlName="priority"></p-dropdown>
                        </td>
                    </tr>
                    <tr>
                        <td>Start Date:</td>
                        <td><p-calendar formControlName="start" appendTo="body" dateFormat="dd/mm/yy"></p-calendar>
                        </td>
                    </tr>
                    <tr>
                        <td>Due Date:</td>
                        <td><p-calendar formControlName="due" appendTo="body" dateFormat="dd/mm/yy"
                                [minDate]="minDate"></p-calendar></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p-button size="small" type="submit">Add</p-button>
                        </td>
                    </tr>
                </table>
            </form>
        </p-dialog>
    </div>
</div>
<div *ngIf="tasks | async as tasks" style="padding: 0 2ch;">
    <div *ngIf="tasks.length!=0">
        <p-toast key="error" position="top-right"></p-toast>
        <p-toast key="success" position="top-right"></p-toast>
        <p-table [columns]="cols" [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="col.field=='task' || col.field=='start' || col.field=='completed' || col.field=='actions'">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"
                            *ngIf="col.field=='priority'||col.field=='status'||col.field=='due'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <container-element [ngSwitch]="col.field">
                            <span *ngSwitchCase="'priority'">
                                <p-tag *ngIf="rowData[col.field]=='Low'" [value]="rowData[col.field]"
                                    [style]="{'background': 'rgba(255, 216, 77, 0.7)'}"></p-tag>
                                <p-tag *ngIf="rowData[col.field]=='Medium'" [value]="rowData[col.field]"
                                    [style]="{'background': 'rgba(249, 142, 49, 0.7)'}"></p-tag>
                                <p-tag *ngIf="rowData[col.field]=='High'" [value]="rowData[col.field]"
                                    [style]="{'background': 'rgba(255, 98, 83, 0.7)'}"></p-tag>
                            </span>
                            <span *ngSwitchCase="'status'">
                                <p-tag *ngIf="rowData[col.field]=='In Progress'" [value]="rowData[col.field]"
                                    [style]="{'background': 'rgba(207, 217, 246, 0.7)'}"></p-tag>
                                <p-tag *ngIf="rowData[col.field]=='In Review'" [value]="rowData[col.field]"
                                    [style]="{'background': 'rgba(172, 186, 227, 0.7)'}"></p-tag>
                                <p-tag *ngIf="rowData[col.field]=='On Hold'" [value]="rowData[col.field]"
                                    [style]="{'background': 'rgba(125, 142, 196, 0.7)'}"></p-tag>
                                <p-tag *ngIf="rowData[col.field]=='Completed'" [value]="rowData[col.field]"
                                    [style]="{'background': 'rgba(97, 112, 168, 0.7)'}"></p-tag>
                            </span>
                            <span *ngSwitchCase="'start'">
                                {{ rowData[col.field] | date }}
                            </span>
                            <span *ngSwitchCase="'due'" [ngClass]="{'due': rowData[col.field]<this.minDate.getTime()}">
                                {{ rowData[col.field] | date }}
                            </span>
                            <span *ngSwitchCase="'completed'">
                                <p-checkbox [binary]="true" (click)="completedSwitch(rowData)"
                                    [(ngModel)]="rowData[col.field]"></p-checkbox>
                            </span>
                            <span *ngSwitchCase="'actions'">
                                <p-button icon="pi pi-file-edit" (click)="editForm(rowData)"></p-button>
                                <p-dialog header="Edit Task" [(visible)]="editVisible" [modal]="true"
                                    [style]="{ width: 'fit-content'}" [draggable]="false" [resizable]="false">
                                    <form [formGroup]="taskForm" (submit)="updateTask(rowData.id)">
                                        <table>
                                            <tr>
                                                <td>Task:</td>
                                                <td><input pInputText type="text" formControlName="task"></td>
                                            </tr>
                                            <tr>
                                                <td>Status:</td>
                                                <td>
                                                    <p-dropdown [options]="status"
                                                        formControlName="status"></p-dropdown>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Priority:</td>
                                                <td>
                                                    <p-dropdown [options]="priorities"
                                                        formControlName="priority"></p-dropdown>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Start Date:</td>
                                                <td><p-calendar formControlName="start" appendTo="body"
                                                        dateFormat="dd/mm/yy"></p-calendar>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Due Date:</td>
                                                <td><p-calendar formControlName="due" appendTo="body"
                                                        dateFormat="dd/mm/yy" [minDate]="minDate"></p-calendar></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <p-button size="small" type="submit">Update</p-button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </p-dialog>
                                <p-button icon="pi pi-trash" (click)="deleteDialog()"></p-button>
                                <p-dialog header="Delete Task" [(visible)]="deleteVisible" [modal]="true"
                                    [style]="{ width: 'fit-content'}" [draggable]="false" [resizable]="false">
                                    <p style="color: #8B0000; font-weight: 500; padding-bottom: 1ch;">Are you sure you want to delete task?</p>
                                    <div class="button">
                                        <p-button [style]="{background: '#8B0000'}" (click)="deleteTask(rowData)">Yes</p-button>
                                        <p-button (click)="closeDialog()">Cancel</p-button>
                                    </div>
                                </p-dialog>
                            </span>
                            <ng-template ngSwitchDefault>
                                {{ rowData[col.field] }}
                            </ng-template>
                        </container-element>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>