.row{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0 2ch;
}

td{
    color: #010662;
    font-family: 'Lora', sans-serif;
}

input{
    background-color: #FFF9F4;
    color: #010662;
    background: rgba(172, 186, 227, 0.7);
}

:host ::ng-deep .p-dropdown-label{
    color: #010662;
    font-family: 'Lora', sans-serif;
}

:host ::ng-deep .p-component{
    color: #010662;
    font-family: 'Lora', sans-serif;
    font-size: 15px;
}

:host ::ng-deep .p-button{
    color: #FFF9F4;
}

:host ::ng-deep .p-datatable-table{
    margin-top: 1ch;
    width: 100%;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background: #FFF9F4;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background: #e2e5e7;
    color:#010662;
}

:host ::ng-deep .p-dialog .p-dialog-content {
    background: #FFF9F4;
}

:host ::ng-deep .p-dialog .p-dialog-header {
    background: #FFF9F4;
}

:host ::ng-deep .p-dropdown{
    background:#FFF9F4;
}

:host ::ng-deep .p-inputtext{
    background:#FFF9F4;
    font-size: 14px;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    color: #010662;
    font-size: 14px;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus{
    background: #d4dbe3;
}

/* check box */
:host ::ng-deep button.p-ripple.p-element.p-button.p-component.p-button-icon-only {
    color: #010662;
    background: unset;
    justify-content: left;
}

p-checkbox {
    display: flex;
    justify-content: center;
}

:host ::ng-deep .p-checkbox .p-checkbox-box {
    border: 1.5px solid #010662;
    background: #FFF9F4;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #010662;
    background: #010662;
}