#main {
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.home {
    padding-top:6%;
    padding-bottom:6%;
    height: auto;
    width: 40%;
}

p {
    font-size: xx-large;
    /* width: 40%; */
    /* padding-top: 2.5cm;
    padding-bottom: 2.5cm; */
}

:host ::ng-deep .p-button {
    background: #FFF9F4;
    color: #010662;
    font-size: large;
    border: 0.75mm solid;
    border-color: #010662;
    font-family: 'Lora', sans-serif;
}

:host ::ng-deep .p-button:hover {
    border-color: #010662;
    background-color: #010662;
    color: #FFF9F4;
}