<div class="p-2" id="main">
    <img src="/assets/image1.png" width="400" height="400">
    <div class="home">
        <p>Effortless Productivity: Your Personal Task Manager for Seamless Organisation and Achieving Success!</p>
        <p-button [routerLink]="['/register']">Join us!</p-button>
    </div>
    <!-- <p>Effortless Productivity: Your Personal Task Manager for Seamless Organisation and Achieving Success!
        <br><span><button class="btn btn-outline-dark btn-lg" [routerLink]="['/register']">Join us!</button></span>
    </p> -->
</div>