#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.home {
    padding-bottom:5%;
    height: auto;
    width: 40%;
}

p {
    font-size: xx-large;
    margin-bottom: 2mm;
}

:host ::ng-deep .p-button {
    background: #FFF9F4;
    color: #010662;
    font-size: large;
    border: 0.75mm solid;
    border-color: #010662;
    font-family: 'Lora', sans-serif;
}

:host ::ng-deep .p-button:hover {
    border-color: #010662;
    background-color: #010662;
    color: #FFF9F4;
}