div {
    display: flex;
    align-content: center;
    justify-content: center;
}

p {
    font-size: xx-large;
    width: 40%;
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
}

button {
    color: #010662;
    border: 0.75mm solid;
    border-color: #010662;
}

button:hover {
    border-color: #010662;
    background-color: #010662;
    color: #FFF9F4;
}