@import "primeng/resources/primeng.css";

div{
    font-family: 'Lora', sans-serif;
    color: #010662;
}

.row{
    display: flex;
    justify-content: space-between;  
}

.row div{
    padding-top: 1ch;
    /* padding-right: 1ch; */
}

:host ::ng-deep .p-button:focus{
    box-shadow: none;
}

#leftpanel{
    padding-left: 1ch;
    width: 100%;
    border: dashed;
}

#rightpanel{
    margin: auto;
    padding-top: 1cm;
    height: 100vh;
}

#rightpanel div{
    text-align: center;
}

input{
    border: solid #010662;
    /* background-color: #FFF9F4; */
    color: #010662;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-right: 1ch;
}

input:focus{
    box-shadow: none;
}

:host ::ng-deep .p-dialog .p-dialog-header{
    color: #010662;
}

:host ::ng-deep .p-button{
    background: #010662;
    color: #FFF9F4;
    border: none;
    font-size: medium;
}

:host ::ng-deep .p-component{
    font-family: 'Lora', sans-serif;
}

#ws:hover{
    border: none;
    border-radius: 5px;
    width: auto;
    height: 30px;
    background-color: #f6e7db;
    color: #010662;
}

/* div button {
    color: #010662;
    border: none;
    border-color: #010662;
    height: 30px;
    border-radius: 30%;
    font-size: medium;
}

div button:hover {
    border-color: #010662;
    background-color: #363886;
    color: #FFF9F4;
}

div button:focus{
    box-shadow: none;
} */