@import "primeng/resources/primeng.css";

div{
    font-family: 'Lora', sans-serif;
    color: #010662;
}

.card{
    height: 100%
}

div #tabmenu{
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;  
}

:host ::ng-deep .p-button:focus{
    box-shadow: none;
}

#leftpanel{
    padding-left: 1ch;
    width: 100%;
    border: dashed;
    /* height: 90vh; */
}

:host ::ng-deep .p-splitter-panel.p-splitter-panel-nested.ng-star-inserted {
    justify-content: center;
}


#rightpanel{
    /* margin: auto; */
    padding-top: 2cm;
    /* height: 90vh; */
}

#rightpanel div{
    text-align: center;
}

input{
    border: solid #010662;
    /* background-color: #FFF9F4; */
    color: #010662;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    margin-right: 1ch;
}

input:focus{
    box-shadow: none;
}

.addButton{
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-dialog-header{
    color: #010662;
}

:host ::ng-deep .p-button{
    background: #010662;
    color: #FFF9F4;
    border: none;
}

:host ::ng-deep .p-component{
    font-family: 'Lora', sans-serif;
}

#ws{
    margin: 0;
    margin-right: 1ch;
    justify-content: center;
    border: none;
    line-height: 40px;
}

#w:hover{
    border: none;
    border-radius: 5px;
    line-height: 40px;
    background-color: #d4dbe3;
    color: #010662;
    cursor: pointer;
}

.selected{
    border: none;
    border-radius: 5px;
    line-height: 40px;
    background-color: #d4dbe3;
    color: #010662;
}

h2{
    padding: 0 2ch;
}

a {
    color: #010662;
}

/* ellipsis button */
:host ::ng-deep .p-menu.p-menu-overlay{
    background: #FFF9F4;
    width: max-content;
}

:host ::ng-deep .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text{
    color: #010662;
    font-size: 15px;
}

:host ::ng-deep .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon{
    color: #010662;
}

/* tab menu */
:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
    background: #FFF9F4;
    color:#010662;
    border: none;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav{
    background: #FFF9F4;
    color:#010662;
    border-color: #FFF9F4;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link{
    border: none;
    background-color: #d4dbe3;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{  
    border-bottom: solid;
    border-color: #010662;
}

:host ::ng-deep .p-chart{
    font-family: 'Lora', sans-serif;
}

#tab1{
    padding: 0 2ch;
}

#tab2{
    padding: 0 2ch;
}
