.row{
    display: flex;
    padding: 1ch 2ch;
    height: 90vh;
}

/* draggable */
div #draggable{
    padding-right: 1ch;
    height: 100%;
}

#draggable .fc-event {
    cursor: move;
}

.fc-h-event {
    background-color: #010662;
    border: 1px solid #010662;
    padding: 1mm 1mm;
    margin: 1ch 0;
    display: block;
}

/* calendar */
div #calendar-container{
    padding-left: 1ch;
    width: 100%;
    height: 100%;
}

.fc-view-harness.fc-view-harness-active {
    height: 80vh;
}

#calendar{
    height: 100%
}